html,
body{
    height:100%;
    font-size: 1rem;
}


.gradient{
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #ffffff 65%, #80D0C7 71%, #ffffff 100%);

}

.page-header{
    margin-top: 5rem;
    font-size: 1.25rem;
    color: #ffffff;
    font-family: 'Merriweather', serif;

}
